# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual Environments
env/
venv/
ENV/
env.bak/
venv.bak/
.virtualenv/
.bat
.ps1
.exe
.cfg

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs
*.log

# MacOS files
.DS_Store

# SQLite database
*.sqlite3

# Test coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# MyPy
.mypy_cache/

# Pytest cache
.pytest_cache/
